<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>aipicam configuration</string>
    <key>CFBundleDisplayName</key>
    <string>aipicam configuration</string>
    <key>CFBundleExecutable</key>
    <string>pi-bluetooth-configuration-client-mac</string>
    <key>CFBundleIdentifier</key>
    <string>com.jacohanekom.pi-bluetooth-configuration-client-mac</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Used to discover and configure an aipicam device's WiFi over Bluetooth LE.</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
